<div class="form-group">
  <label class="form-group__label">Origine de la demande</label>
  <div formArrayName="originOfDemandSetUuidOriginOfDemands">
    <div *ngFor="let option of originOfDemande; let i = index" class="checkbox-option">
      <label>{{ option.originOfDemandLabel }}</label>
      <div class="radio-group">
        <div class="radio-option">
          <label>
            <input type="radio" [formControlName]="i" [value]="true" (change)="checkOtherOriginOfDemand(i, true)"> Oui
          </label>
        </div>
        <div class="radio-option">
          <label>
            <input type="radio" [formControlName]="i" [value]="false" (change)="checkOtherOriginOfDemand(i, false)"> Non
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="invalid-feedback" *ngIf="originOfDemandControls.invalid && originOfDemandControls.touched">
    L'origine de la demande est requise
  </div>
  <div *ngIf="showOtherOriginOfDemandInput" class="nested-form">
    <div class="form-group">
      <label class="form-group__label" for="otherOriginOfDemand">Préciser</label>
      <input type="text" id="otherOriginOfDemand" formControlName="otherOriginOfDemand" class="form-control">
      <div class="invalid-feedback" *ngIf="structureForm.get('otherOriginOfDemand')?.invalid && structureForm.get('otherOriginOfDemand')?.touched">
        Veuillez préciser l'origine de la demande
      </div>
    </div>
  </div>
</div>